# [{{ lab_name }}]()

{% if add_synopsis %}
#### Synopsis

{% endif %}
#### Scenario


---

## Contents
- [Scenario](#scenario)
- [Questions](#questions)
{%- for question in range(1, num_questions+1) %}
    {{ question }}. [Question {{ question }}](#question-{{ question }}) **
{%- endfor %}


---

## Questions
{% for question in range(1, num_questions+1) %}
### Question {{ question }}
######
> **Answer:** ``

{% endfor %}
